@model ContactModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6">
            <h2>Dodawanie Kontaktu</h2>
            <form asp-action="Add" method="post">
                <div>
                    <label asp-for="First_name">Imię</label>
                    <input class="form-control" asp-for="First_name">
                    <span class="text-danger" asp-validation-for="First_name"></span>
                </div>
                <div>
                    <label asp-for="Last_name">Nazwisko</label>
                    <input class="form-control" asp-for="Last_name">
                    <span class="text-danger" asp-validation-for="Last_name"></span>
                </div>
                <div>
                    <label asp-for="Date_of_Birth">Data urodzenia</label>
                    <input class="form-control" asp-for="Date_of_Birth">
                    <span class="text-danger" asp-validation-for="Date_of_Birth"></span>
                </div>
                <div>
                    <label asp-for="Email">E-mail</label>
                    <input class="form-control" asp-for="Email">
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>
                <div>
                    <label asp-for="Phonenumber">Numer Telefonu</label>
                    <input class="form-control" asp-for="Phonenumber">
                    <span class="text-danger" asp-validation-for="Phonenumber"></span>
                </div>
                <button type="submit" class="btn btn-outline-primary">Dodaj</button>
                <button type="reset" class="btn btn-outline-danger">Wyczyść</button>
            </form>
        </div>
    </div>
</div>


